:root{
    --primary:#774e24;
    --primary-light:#d49849;
    --accent: #941c2f;
    --blue-dark:#003153;
    --blue:#c9daea;
    --glitch-visibility:hidden;
}

body{
    width:100%;
    height:100vh;
    margin:0;
    overflow-y:hidden;
    overflow-x: hidden;
}

.homecontainer{
    display: grid;
    grid-template-columns: 35% 65%;
    background-image: url('/static/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
    margin:0;
}

.columna{
    grid-column:1;
}

.columnb{
    grid-column:2;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20%;
}

.logocontainer{
    display:flex;
    height:fit-content;
    width:100%;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.logo{
    width:60%;
}

.textcontainer{
    display:flex;
    position:absolute;
    height:fit-content;
    width:100%;
    height:fit-content;
    bottom:0px;
    right:20px;
    justify-content: flex-end;
    align-items: flex-end;
}

h1{
  color: var(--blue);
  font-size: 28px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 7px;
  cursor: text;
  margin:30px 10px;
  text-align: center;
  text-shadow: 3px 3px 0px var(--accent);
} 

h2{
  color: var(--blue);
  font-size: 34px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 7px;
  cursor: text;
  margin:0px 0px;
  text-align: center;
  text-shadow: 2px 2px 0px var(--accent);
}



.tagline{
  visibility: hidden;
  color: var(--blue);
  font-size: 28px;
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  cursor: text;
  margin-bottom: 25px;
  text-shadow: 2px 2px 0px var(--accent);
}


#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background:#000 url("/static/img/preloader.gif") no-repeat center center;
}

.typewritercontainer{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    width:100%;
    height:100vh;
    margin:0;
    flex-direction: column;
    background-image: url('/static/img/terminal.jpg');
}

.typewritercontainer:after, .typewritercontainer:before{
    visibility: var(--glitch-visibility);
    content: "";
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: inherit;
    transform: translateX(10px);
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-blend-mode:difference; 
}

.typewritercontainer:after{
    animation-name: glitchAnim1;
}

.typewritercontainer:before{
    animation-name: glitchAnim2;
}


@keyframes glitchAnim1{
    0%, 25.1%, 100%{
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
    4%{
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    }
    5%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    9%{
        clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
    }
    10%{
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    14%{
        clip-path: polygon(0 40%, 100% 40%, 100% 50%, 0 50%);
    }
    15%{
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }
    19%{
        clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
    }
    20%{
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    24%{
        clip-path: polygon(0 80%, 100% 80%, 100% 90%, 0 90%);
    }
    25%{
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
}

@keyframes glitchAnim2{
    0%, 25.1%, 100%{
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
    4%{
        clip-path: polygon(0 80%, 100% 80%, 100% 90%, 0 90%);
        background-color: rgba(0,255,0,0.7);
    }
    5%{
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        background-color: transparent;
    }
    9%{
        clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
    }
    10%{
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    14%{
        clip-path: polygon(0 40%, 100% 40%, 100% 50%, 0 50%);
    }
    15%{
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }
    19%{
        clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
    }
    20%{
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    24%{
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    }
    25%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
}


.cont{
    display: flex;
    width:fit-content;
    align-items: center;
    align-self: center;
    margin:15px 0px;
}
.headingh1{
  position: absolute;
  color: #3f3;
  font-family: 'VT323', monospace, sans-serif;
  font-size: 24px;
  margin: 10px 30px; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  text-shadow: 0px 0px 3px #3f3;
  text-align: left;
  top:30px;
}

.typewriter h1 {
  color: #3f3;
  font-family: 'VT323', monospace, sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #3f3; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  text-shadow: 0px 0px 3px #3f3;
  text-align: center;
}

.typewriter h1.animate{
    animation: typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
