{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Conscientia</title>
        <link href="{% static 'img/favicon.png'%}" rel="icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Lato&family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9dde0b24ee.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/fork.css">
        <link rel="stylesheet" href="/static/css/iziToast.min.css">
    </head>
    <body>
        <div class="links">
            <div class="logo-container"><img class="logo" src="/static/img/logo_web.png"></div>
            <div class="button-container">
            <a href="/register"><h2 class="headingh2button">Register/Login</h2></a></div>
        </div>
        <div class="links">
            <button class="tablink" onclick="openPage('Workshops')" id="workshoptab"><h2 class="headingh2">Workshops<h2></button>
            <button class="tablink" onclick="openPage('Gaming')" id="gamingtab" ><h2 class="headingh2">Gaming<h2></button>
        </div>
        <div class="workshopscontainer" id="Workshops">
            <div class="eventitema">
                <!--<h2 class="headingh2">Amphibot</h2>-->
                <img class="poster" src="/static/img/5.png">
            </div>
            <div class="eventitembtext">
                <h1 class="headingh1">Rocketry Workshop</h1>
                <div class="eventspara">
                    <p>Join us in creating amazing model rockets and shoot your creativity into space with it. The workshop is powered by Rocketeers. Experts from Rocketeers will be taking the workshop and sharing their expertise in model rocketry.</p>
                    <p>Get an e-certificate on participation</p>
                    <p>Early Bird Registration Offer, Registration Fees only Rs.1000.</p> 
                </div>
                <a href="/static/Rocketry_brochure.pdf" class="eventsbutton" on-click="notify()">Explore</a>
            </div>
            <div class="eventitematext">
                <h1 class="headingh1">IEEE Space Startup Conference</h1>
                <div class="eventspara">
                    <p class="eventspara">Expand the horizons of your technical innovation. IEEE EdSoc at IIST is organising a conference of space startups on 8th and 9th October. The event includes conferences, Q&A sessions, exhibitions to interact and technical workshops. Learn from and network with the new generation of space startups working with the dawn of privatised space technology in India. For students, there is a lot to learn and perhaps an opportunity to join one of  these startups on their journey. In conjunction with IEEE IIST EdSoc Student Branch Chapter Inauguration.</p>
                    <p>Get an e-certificate on participation</p>
                    <p>The event is free for students of IIST. For students from outside IIST we are collecting a registration fee of ₹500 for a two day pass with lunch and snacks, and ₹350 for a single day pass.</p>
                </div>
                <a href="/static/IEEE_brochure.pdf" class="eventsbutton" on-click="notify()">Explore</a>
            </div>
            <div class="eventitemb">
                <!--<h2 class="headingh2">Arduino 2.0</h2>-->
                <img class="poster" src="/static/img/4.jpeg">
            </div>
            <div class="eventitema">
                <!--<h2 class="headingh2">Amphibot</h2>-->
                <img class="poster" src="/static/img/1.jpg">
            </div>
            <div class="eventitembtext">
                <h1 class="headingh1">OpenVSP Workshop</h1>
                <div class="eventspara">
                    <p>Very intuitive and easy to use, OpenVSP is a powerful and beginner friendly 3D modeling software. Join us and learn to how to easily design your own geometries in this interactive 2-day workshop.</p>
                    <p>Get an e-certificate on participation</p>
                    <p>Early Bird Registration Offer, Registration Fees only Rs.100. (Applicable till 1st October)</p> 
                </div>
                <a href="/static/OpenVSP_brochure.pdf" class="eventsbutton" on-click="notify()">Explore</a>
            </div>
            <div class="eventitematext">
                <h1 class="headingh1">Fusion360 Workshop</h1>
                <div class="eventspara">
                    <p class="eventspara">Get your hands in 3D CAD using Autodesk Fusion360. A beginner's workshop on Fusion 360.</p>
                    <p>Get an e-certificate on participation</p>
                    <p>Early Bird Registration Offer, Registration Fees only Rs.100. (Applicable till 10th October)</p>
                </div>
                <a href="/static/Fusion360_brochure.pdf" class="eventsbutton" on-click="notify()">Explore</a>
            </div>
            <div class="eventitemb">
                <!--<h2 class="headingh2">Arduino 2.0</h2>-->
                <img class="poster" src="/static/img/2.png">
            </div>
            <div class="eventitema">
                <!--<h2 class="headingh2">Amphibot</h2>-->
                <img class="poster" src="/static/img/3.png">
            </div>
            <div class="eventitembtext">
                <h1 class="headingh1">Introduction to Simulations in Engineering</h1>
                <div class="eventspara">
                    <p>Introduce yourself to simulations in the various domains of engineering and learn the industry used simulations software Ansys.</p>
                    <p>Get an e-certificate on participation</p>
                    <p>Early Bird Registration Offer, Registration Fees only Rs.200. (Applicable till 7th October)</p>
                </div>
                <a href="/static/Simulation_brochure.pdf" class="eventsbutton" on-click="notify()">Explore</a>
            </div>
             
        </div>
        <div class="workshopcontainermobile" id="workshopmobile">
            <div class="eventsboxmobile">
                <img class="poster" src="/static/img/5.png">
                <h1 class="headingh1">Rocketry Workshop</h1>
                <div class="eventspara">
                    <p>Join us in creating amazing model rockets and shoot your creativity into space with it. The workshop is powered by Rocketeers. Experts from Rocketeers will be taking the workshop and sharing their expertise in model rocketry.</p>
                    <p>Get an e-certificate on participation</p>
                    <p>Early Bird Registration Offer, Registration Fees only Rs.1000.</p>
                </div>
                <a href="/static/Rocketry_brochure.pdf" class="eventsbutton" on-click="notify()">Explore</a>
            </div>
            <div class="eventsboxmobile">
                <img class="poster" src="/static/img/4.jpeg">
                <h1 class="headingh1">IEEE Space Startup Conference</h1>
                <div class="eventspara">
                    <p class="eventspara">Expand the horizons of your technical innovation. IEE EdSoc at IIST is organising a conference of space startups on 8th and 9th October. The event includes conferences, Q&A sessions, exhibitions to interact and technical workshops. Learn from and network with the new generation of space startups working with the dawn of privatised space technology in India. For students, there is a lot to learn and perhaps an opportunity to join one of  these startups on their journey. In conjunction with IEEE IIST EdSoc Student Branch Chapter Inauguration.</p>
                    <p>Get an e-certificate on participation</p>
                    <p>The event is free for students of IIST. For students from outside IIST we are collecting a registration fee of ₹500 for a two day pass with lunch and snacks, and ₹350 for a single day pass.</p>
                </div>
                <a href="/static/OpenVSP_brochure.pdf" class="eventsbutton" on-click="notify()">Explore</a>
            </div>
            <div class="eventsboxmobile">
                <img class="poster" src="/static/img/1.jpg">
                <h1 class="headingh1">OpenVSP Workshop</h1>
                <div class="eventspara">
                    <p>Very intuitive and easy to use,OpenVSP is a powerful and beginner friendly 3D modeling software. Join us and learn to how to easily design your own geometries in this interactive 2-day workshop.</p>
                    <p>Get an e-certificate on participation</p>
                    <p>Early Bird Registration Offer, Registration Fees only Rs.100. (Applicable till 1st October)</p>
                </div>
                <a href="/static/OpenVSP_brochure.pdf" class="eventsbutton" on-click="notify()">Explore</a>
            </div>
            <div class="eventsboxmobile">
                <img class="poster" src="/static/img/2.png">
                <h1 class="headingh1">Fusion360 Workshop</h1>
                <div class="eventspara">
                    <p class="eventspara">Get your hands in 3D CAD using Autodesk Fusion360. A beginner's workshop on Fusion 360.</p>
                    <p>Get an e-certificate on participation</p>
                    <p>Early Bird Registration Offer, Registration Fees only Rs.100. (Applicable till 10th October)</p>
                </div>
                <a href="/static/Fusion360_brochure.pdf" class="eventsbutton" on-click="notify()">Explore</a>
            </div>
            <div class="eventsboxmobile">
                <img class="poster" src="/static/img/3.png">
                <h1 class="headingh1">Introduction to Simulations in Engineering</h1>
                <div class="eventspara">
                    <p>Introduce yourself to simulations in the various domains of engineering and learn the industry used simulations software Ansys.</p>
                    <p>Get an e-certificate on participation</p>
                    <p>Early Bird Registration Offer, Registration Fees only Rs.200. (Applicable till 7th October)</p>
                </div>
                <a href="/static/Simulation_brochure.pdf" class="eventsbutton" on-click="notify()">Explore</a>
            </div>
        </div>
        <!-- Gaming Section -->
        
        <div class="gamingcontainer" id="Gaming">
            <div class="eventitema">
                <!--<h2 class="headingh2">Amphibot</h2>-->
                <img class="poster" src="/static/img/gaming1.jpeg">
            </div>
            <div class="eventitembtext">
                <h1 class="headingh1">Clash Royale</h1>
                <div class="eventspara">
                    <p>We, students of IIST, cordially invite you all to participate in IIST's Clash Royale tournament. Join us for the chance to win cash prizes.</p>
                    <p>Gamemode: Draft battle</p>
                    <p>Rules: Standard CR tournament rules will be followed. All cards will be capped to level 11.</p>
                    <p>Any player who can refer 5 other players can play the tournament for free(Entry fee will be refunded upon verification) Lets Clash! </p>
                </div>
                <a href="https://forms.gle/zwEadrUaDADhxpFt5" class="eventsbutton" on-click="notify()">Register</a>
            </div>
            <div class="eventitematext">
                <h1 class="headingh1">Free Fire</h1>
                <div class="eventspara"><p>We, students of IIST, cordially invite you all to participate in IIST's Free Fire tournament. Join us for the chance to win cash prizes.</p>

                <p>Date and Time(Tentative): 10th September 2022, 6-7pm</p>

                <p>Gamemode: Solo BR</p>

                <p>Any player who can refer 5 other players can play the tournament for free(Entry fee will be refunded upon verification)</p></div>
                <a href="https://forms.gle/zdChS7qewBkGWjhw9" class="eventsbutton" on-click="notify()">Register</a>
            </div>
            <div class="eventitemb">
                <!--<h2 class="headingh2">Arduino 2.0</h2>-->
                <img class="poster" src="/static/img/gaming2.jpeg">
            </div>
        </div>
        <div class="gamingcontainermobile" id="gamingmobile">
            <div class="eventsboxmobile">
                <img class="poster" src="/static/img/gaming1.jpeg">
                <h1 class="headingh1">Clash Royale</h1>
                <div class="eventspara">
                    <p>We, students of IIST, cordially invite you all to participate in IIST's Clash Royale tournament. Join us for the chance to win cash prizes.</p>
                    <p>Gamemode: Draft battle</p>
                    <p>Rules: Standard CR tournament rules will be followed. All cards will be capped to level 11.</p>
                    <p>Any player who can refer 5 other players can play the tournament for free(Entry fee will be refunded upon verification) Lets Clash! </p>
                </div>
                <a href="https://forms.gle/zwEadrUaDADhxpFt5" class="eventsbutton" on-click="notify()">Register</a>
            </div>
            <div class="eventsboxmobile">
                <img class="poster" src="/static/img/gaming2.jpeg">
                <h1 class="headingh1">Free Fire</h1>
                <div class="eventspara">
                    <p>We, students of IIST, cordially invite you all to participate in IIST's Free Fire tournament. Join us for the chance to win cash prizes.</p>

<p>Date and Time(Tentative): 10th September 2022, 6-7pm</p>

<p>Gamemode: Solo BR</p>

<p>Any player who can refer 5 other players can play the tournament for free(Entry fee will be refunded upon verification)</p>
                </div>
                <a href="https://forms.gle/zdChS7qewBkGWjhw9" class="eventsbutton" on-click="notify()">Register</a>
            </div>
        </div>
        <script src="/static/js/iziToast.min.js" type="text/javascript"></script>
        <script type="text/javascript"\>
        window.addEventListener('load', function(){document.getElementById("workshoptab").click();});
        function openPage(pageName){
        if(screen.width>1024){
        if(pageName=="Workshops"){
        document.getElementById("Gaming").style.display = "none";
        document.getElementById("Workshops").style.display = "grid";
        document.getElementById("workshoptab").style.border = "3px solid var(--accent)";
        document.getElementById("workshoptab").style.borderRadius = "10px";
        document.getElementById("gamingtab").style.border = "none";
        document.getElementById("gamingtab").style.borderRadius = "none";
        }else if(pageName=="Gaming"){
        document.getElementById("Workshops").style.display = "none";
        document.getElementById("Gaming").style.display = "grid";
        document.getElementById("gamingtab").style.border = "3px solid var(--accent)";
        document.getElementById("gamingtab").style.borderRadius ="10px";
        document.getElementById("workshoptab").style.border = "none";
        document.getElementById("workshoptab").style.borderRadius = "none";
        }}else{
        if(pageName=="Workshops"){
        document.getElementById("gamingmobile").style.display = "none";
        document.getElementById("workshopmobile").style.display = "flex";
        document.getElementById("workshoptab").style.border = "3px solid var(--accent)";
        document.getElementById("workshoptab").style.borderRadius = "10px";
        document.getElementById("gamingtab").style.border = "none";
        document.getElementById("gamingtab").style.borderRadius = "none";
        }else if(pageName=="Gaming"){
        document.getElementById("workshopmobile").style.display = "none";
        document.getElementById("gamingmobile").style.display = "flex";
        document.getElementById("gamingtab").style.border = "3px solid var(--accent)";
        document.getElementById("gamingtab").style.borderRadius ="10px";
        document.getElementById("workshoptab").style.border = "none";
        document.getElementById("workshoptab").style.borderRadius = "none";
        }
        }
        }
        
        function notify(){
            iziToast.info({
            title: 'Download Started',
            message: 'The brochure download has started.',
            });
        };
        {% if title %}
        window.onloadend = notify2();
        function notify2(){
            iziToast.info({
            title: "{{title}}",
            message: "{{message}}",
            });
        };
        {% endif %}
        </script>
    </body>
</html>