<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conscientia</title>
    <link rel="stylesheet" href='{% static "/css/index.css"%}'>
    <link href="{% static '/img/favicon.png'%}" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Lato&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9dde0b24ee.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="typewritercontainer">
      <h1 class="headingh1">New Transmission recived from Ground Station 3091, Earth</h1>
      <div class="cont">
        <div class="typewriter">
          <h1 id="h1heading">"31st Sept - 3rd Oct 2022, Set the dates !" </h1>
        </div>
      </div>
    </div>
    <div class="homecontainer">
      <div class="columnb">
        <div class="logocontainer">
          <img class="logo" src="/static/img/logo_web.png">
        </div>
        <!--<h1>31st Sept - 3rd Oct 2022</h1>-->
        <h2>COMING SOON</h2>
        <div class="textcontainer">
          <h2 class="tagline">#SUIT_UP_VYOMNAUTS</h2>
        </div>
      </div>
    </div>
    <div id="preloader"></div>
    <script type="text/javascript">
    var h1 = document.getElementById("h1heading");
    var typewriter = document.querySelector(".typewritercontainer");
    var tagline=document.querySelector(".tagline");
    const root = document.querySelector(":root");
    h1.addEventListener("animationend", function(){
    root.style.setProperty("--glitch-visibility", 'visible');
    setTimeout(function(){
    h1.innerHTML = "Opening the attachment..."},1000);
    setTimeout(function(){
    typewriter.style.display = "none";
    tagline.style.visibility = 'visible';
    },4000);
    });
    </script>
    <script src="/static/js/index.js"></script>
  </body>
</html>