<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conscientia</title>
    <link rel="stylesheet" href='{% static "/css/index.css"%}'>
    <link href="{% static '/img/favicon.png'%}" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Lato&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9dde0b24ee.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="homecontainer">
      <div class="columnb">
        <div class="logocontainer">
          <img class="logo" src="/static/img/logo_web.png">
        </div>
        <h1><span>31st Sept - 3rd Oct 2022</span></h1>
        <div class="textcontainer">
          <h2 class="hashtag"># </h2>
          <h2 class="tagline">SUIT_UP_VYOMNAUTS</h2>
        </div>
        <hr>
        <h2><span>Coming Soon</span></h2>
        <hr>
      </div>
    </div>
    <script src="static/js/index.js"></script>
  </body>
</html>