{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Conscientia</title>
        <link href="{% static 'img/favicon.png'%}" rel="icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Lato&family=Source+Sans+Pro&family=Hammersmith+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9dde0b24ee.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/register.css">
        <link rel="stylesheet" href="/static/css/iziToast.min.css">
    </head>
    <body>
        <div class="formcontainer" id="container">
            <div class="loginposter">
                <h1 class="headingh1"> Upcoming Workshops</h1>
                <div class="slider">
                    <div class="slides">
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <div class="slide first">
                            <a href="/static/Fusion360_brochure.pdf" id="poster1" onclick="notify()">
                                <img src="/static/img/2.png">
                            </a>
                        </div>
                        <div class="slide">
                            <a href="/static/Simulation_brochure.pdf" id="poster2" onclick="notify()">
                                <img src="/static/img/3.png">
                            </a>
                        </div>
                        <div class="slide">
                            <a href="/static/Rocketry_brochure.pdf" id="poster3" onclick="notify()">
                                <img src="/static/img/5.png">
                            </a>
                        </div>
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                        </div>
                        <div class="navigation-manual">
                            <label for="radio1" class="manual-btn"></label>
                            <label for="radio2" class="manual-btn"></label>
                            <label for="radio3" class="manual-btn"></label>
                        </div>
                    </div>
                </div>
                <h2 class="headingh2">Click on posters, to know more!<h2>
            </div>
            <form class="form" method='post' action="{% url 'eventRegister' %}" >
                {% csrf_token %}
                <h1 class="headingh1">Registration</h1>
                <p class="formp">Complete your registration for event/workshop.</p>
                <div class="formgroup">
                    <input type="text" id="phone" class="forminput" autocomplete="off" placeholder="&#xf095">
                    <label for="phone" class="formlabel">Phone</label>
                </div>
                <div class="formgroup">
                    <div class="select-field" id="dropbox">
                        <label class="selectlabel">&#xf03a</label>
                        <label class="selectlabel">Select the events/workshops</label>
                        <label class="selectlabel" id="arrow">&#xf0d7</label>
                    </div>
                    <!---------List of checkboxes and options----------->
                    <div class="list">
                        <label for="task1" class="task">
                            <input type="checkbox" name="event[]" value="event1" id="task1">
                            War of Bots
                        </label>
                        <label for="task2" class="task">
                            <input type="checkbox" name="event[]" value="event2" id="task2">
                            Dronetrix
                        </label>
                        <label for="task3" class="task">
                            <input type="checkbox" name="event[]" value="event3" id="task3">
                            RC Plane
                        </label>
                        <label for="task4" class="task">
                            <input type="checkbox" name="event[]" value="event4" id="task4">
                            Amphibot
                        </label>
                        <label for="task5" class="task">
                            <input type="checkbox" name="event[]" value="event5" id="task5">
                            RC Car
                        </label>
                        <label for="task6" class="task">
                            <input type="checkbox" name="event[]" value="event6" id="task6">
                            Line Follower
                        </label>
                        <label for="task7" class="task">
                            <input type="checkbox" name="event[]" value="event7" id="task7">
                            Space Habitat Challenge
                        </label>
                        <label for="task8" class="task">
                            <input type="checkbox" name="event[]" value="event8" id="task8">
                            Water Rocket
                        </label>
                        <label for="task9" class="task">
                            <input type="checkbox" name="event[]" value="event9" id="task9">
                            Panchmantra
                        </label>
                        <label for="task10" class="task">
                            <input type="checkbox" name="event[]" value="event10" id="task10">
                            Arduino 2.0
                        </label>
                        <label for="task11" class="task">
                            <input type="checkbox" name="event[]" value="event11" id="task11">
                            Vyomverse
                        </label>
                        <label for="task12" class="task">
                            <input type="checkbox" name="event[]" value="event12" id="task12">
                            Valorant
                        </label>
                        <label for="task13" class="task">
                            <input type="checkbox" name="event[]" value="event13" id="task13">
                            Machinist
                        </label>
                        <label for="task14" class="task">
                            <input type="checkbox" name="event[]" value="event14" id="task14">
                            Hangover
                        </label>
                        <label for="task15" class="task">
                            <input type="checkbox" name="event[]" value="event15" id="task15">
                            Tech Glide
                        </label>
                        <label for="task16" class="task">
                            <input type="checkbox" name="event[]" value="event16" id="task16">
                            PhyKnight
                        </label>
                        <label for="task17" class="task">
                            <input type="checkbox" name="event[]" value="event17" id="task17">
                            CAD
                        </label>
                        <label for="task18" class="task">
                            <input type="checkbox" name="event[]" value="event18" id="task18">
                            Logic Circuit Design
                        </label>
                        <label for="task19" class="task">
                            <input type="checkbox" name="event[]" value="event19" id="task19">
                            Circuiter
                        </label>
                        <label for="task20" class="task">
                            <input type="checkbox" name="event[]" value="event20" id="task20">
                            Tarang
                        </label>
                        <label for="task21" class="task">
                            <input type="checkbox" name="event[]" value="event21" id="task21">
                            Night Sky Hunt
                        </label>
                        <label for="task22" class="task">
                            <input type="checkbox" name="event[]" value="event22" id="task22">
                            How Adam Did It
                        </label>
                        <label for="task23" class="task">
                            <input type="checkbox" name="event[]" value="event23" id="task23">
                            Techwiz
                        </label>
                        <label for="task24" class="task">
                            <input type="checkbox" name="event[]" value="event24" id="task24">
                            Bletchley Park
                        </label>
                        <label for="task25" class="task">
                            <input type="checkbox" name="event[]" value="event25" id="task25">
                            C Cubed
                        </label>
                        <label for="task26" class="task">
                            <input type="checkbox" name="event[]" value="event26" id="task26">
                            Cosmic Clash
                        </label>
                        <label for="task27" class="task">
                            <input type="checkbox" name="event[]" value="event27" id="task27">
                            AstroReflection
                        </label>
                        <label for="task28" class="task">
                            <input type="checkbox" name="event[]" value="event28" id="task28">
                            FIFA
                        </label>
                        <label for="task29" class="task">
                            <input type="checkbox" name="event[]" value="event29" id="task29">
                            Mathematrix
                        </label>
                        <label for="task31" class="task">
                            <input type="checkbox" name="event[]" value="event31" id="task31">
                            Fusion360 Workshop
                        </label>
                        <label for="task32" class="task">
                            <input type="checkbox" name="event[]" value="event32" id="task32">
                            Simulations Workshop
                        </label>
                        <label for="task33" class="task">
                            <input type="checkbox" name="event[]" value="event33" id="task33">
                            Rocketry Workshop
                        </label>
                        <label for="task34" class="task">
                            <input type="checkbox" name="event[]" value="event34" id="task34">
                            MATLAB Workshop
                        </label>
                    </div>
                </div>
            <input type="submit" value="Submit" class="signup" id='submit'>
            <p class="formp">Report any issue to gauravxpgupta@gmail.com</p>
        </form>
    </div>
    <script src="/static/js/iziToast.min.js" type="text/javascript"></script>
    <script src="/static/js/swiped-events.js" type="text/javascript"></script>
    <script type="text/javascript">
    var counter = 1;
    let touchstartX = 0;
    let touchendX = 0;
    if(screen.width>=1024){
    setInterval(function(){
    document.getElementById('radio'+ counter).checked = true;
    counter++;
    if(counter>3){
    counter=1;
    }
    }, 3000);
    }else{
    document.addEventListener('swiped-left', function(e) {
    // the element that was swiped
    if(counter>=3){
    counter=3;
    document.getElementById('radio'+ counter).checked = true;
    }else{
    counter++;
    document.getElementById('radio'+ counter).checked = true;
    }
    console.log('left '+counter);
    });
    document.addEventListener('swiped-right', function(e) {
    // the element that was swiped
    if(counter<=1){
    counter=1;
    document.getElementById('radio'+ counter).checked = true;
    }else{
    counter--;
    document.getElementById('radio'+ counter).checked = true;
    };
    console.log("right " + counter);
    });
    }
    function notify(){
    iziToast.info({
    title: 'Download Started',
    message: 'The brochure download has started.',
    });
    };
    document.querySelector('.select-field').addEventListener('click',()=>{
    document.querySelector('.list').classList.toggle('show');
    if(document.querySelector('.list').classList.contains('show')){
    document.getElementById("arrow").innerHTML="&#xf0d8";
    document.getElementById('submit').style.display='none';
    document.body.style.overflowY = 'scroll';
    }else{
        document.getElementById("arrow").innerHTML="&#xf0d7";
        document.getElementById('submit').style.display='flex';
        document.body.style.overflowY = 'hidden';
    }
    });

    document.addEventListener("click",function (e){
        if(!e.target.closest('#dropbox') && !e.target.closest(".list")){
            if(document.querySelector('.list').classList.contains('show')){
        document.querySelector('.list').classList.remove('show');
        document.getElementById("arrow").innerHTML="&#xf0d7";
        document.getElementById('submit').style.display='flex';
        document.body.style.overflowY = 'hidden';
        }
        }
    });
    
    </script>
</body>
</html>