{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Conscientia</title>
        <link href="{% static '/img/favicon.png'%}" rel="icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Lato&family=Source+Sans+Pro&family=Hammersmith+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9dde0b24ee.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/register.css">
    </head>
    <body>
        <div class="formcontainer">
            <div class="loginposter">
                <h1 class="headingh1"> Upcoming Workshops</h1>
                <div class="slider">
                    <div class="slides">
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <div class="slide first">
                            <a href="/static/aerobrochure.pdf">
                            <img src="static/img/1.jpg">
                            </a>
                        </div>
                        <div class="slide">
                            <a href="/static/aerobrochure.pdf">
                            <img src="static/img/2.jpg">
                            </a>
                        </div>
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                        </div>
                        <div class="navigation-manual">
                            
                            <label for="radio1" class="manual-btn"></label>
                            <label for="radio2" class="manual-btn"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <h1 class="headingh1">Register</h1>
                <p class="formp">Register yourself for the workshops.</p>
                <div class="formgroup">
                    <input type="text" id="name" class="forminput" autocomplete="off" placeholder="&#xf007">
                    <label for="name" class="formlabel">Name</label>
                </div>
                <div class="formgroup">
                    <input type="text" id="email" class="forminput" autocomplete="off" placeholder="&#xf0e0">
                    <label for="email" class="formlabel">Email</label>
                </div>
                <div class="formgroup">
                    <input type="password" id="password" class="forminput" autocomplete="off" placeholder="&#xf084">
                    <label for="password" class="formlabel">Password</label>
                </div>
                <div class="formgroup">
                    <input type="text" id="school" class="forminput" autocomplete="off" placeholder="&#xf549">
                    <label for="school" class="formlabel">School/College</label>
                </div>
                <span><a href="#"></a></span>
            </div>
        </div>
        <script type="text/javascript">
        var counter = 1;
        setInterval(function(){
        document.getElementById('radio'+ counter).checked = true;
        counter++;
        if(counter>2){
        counter=1;
        }
        }, 3000);

        let touchstartX = 0;
let touchendX = 0;
    
function checkDirection() {
  if (touchendX < touchstartX) {
    document.getElementById('radio'+ counter).checked = true;
    counter--;
    if(1>counter){
        counter=1;
        }
  }
  if (touchendX > touchstartX) {
    document.getElementById('radio'+ counter).checked = true;
    counter++;
    if(counter>2){
        counter=1;
        }
  }
}

document.addEventListener('touchstart', e => {
  touchstartX = e.changedTouches[0].screenX;
})

document.addEventListener('touchend', e => {
  touchendX = e.changedTouches[0].screenX;
  checkDirection();
})
        </script>
    </body>
</html>