{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Conscientia</title>
        <link href="{% static '/img/favicon.png'%}" rel="icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Lato&family=Source+Sans+Pro&family=Hammersmith+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9dde0b24ee.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/register.css">
        <link rel="stylesheet" href="/static/css/iziToast.min.css">
    </head>
    <body>
        <div class="formcontainer" id="container">
            <div class="loginposter">
                <h1 class="headingh1"> Upcoming Workshops</h1>
                <div class="slider">
                    <div class="slides">
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <div class="slide first">
                            <a href="/static/OpenVSP_borchure.pdf" id="poster1" onclick="notify()">
                                <img src="/static/img/1.jpg">
                            </a>
                        </div>
                        <div class="slide">
                            <a href="/static/Fusion360_brochure.pdf" id="poster2" onclick="notify()">
                                <img src="/static/img/2.png">
                            </a>
                        </div>
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                        </div>
                        <div class="navigation-manual">
                            <label for="radio1" class="manual-btn"></label>
                            <label for="radio2" class="manual-btn"></label>
                        </div>
                    </div>
                </div>
                <h2 class="headingh2">Click on posters, to know more!<h2>
            </div>
            <form class="form" method='post' action="{% url 'eventRegister' %}">
                {% csrf_token %}
                <h1 class="headingh1">Registration</h1>
                <p class="formp">Complete your registration for workshop.</p>
                <div class="formgroup">
                    <input type="text" id="phone" class="forminput" autocomplete="off" placeholder="&#xf095">
                    <label for="phone" class="formlabel">Phone</label>
                </div>
                <div class="formgroup">
                    <div class="select-field">
                        <label class="selectlabel">&#xf03a</label>
                        <label class="selectlabel">Select the workshops</label>
                        <label class="selectlabel" id="arrow">&#xf0d7</label>
                    </div>
                    <!---------List of checkboxes and options----------->
                    <div class="list">
                        
                        <label for="task1" class="task">
                            <input type="checkbox" name="event[]" value="event1" id="task1">
                            OpenVSP Workshop
                        </label>
                        <label for="task2" class="task">
                            <input type="checkbox" name="event[]" value="event2" id="task2">
                            Fusion360 Workshop
                        </label>
                        <label for="task3" class="task">
                            <input type="checkbox" name="event[]" value="event3" id="task3">
                            Simulations Workshop
                        </label>
                    </div>
                </div>
            <input type="submit" value="Submit" class="signup" id='submit'>
        </form>
    </div>
    <script src="/static/js/iziToast.min.js" type="text/javascript"></script>
    <script src="/static/js/swiped-events.js" type="text/javascript"></script>
    <script type="text/javascript">
    var counter = 1;
    let touchstartX = 0;
    let touchendX = 0;
    if(screen.width>=1024){
    setInterval(function(){
    document.getElementById('radio'+ counter).checked = true;
    counter++;
    if(counter>2){
    counter=1;
    }
    }, 3000);
    }else{
    document.addEventListener('swiped-left', function(e) {
    // the element that was swiped
    if(counter>=2){
    counter=2;
    document.getElementById('radio'+ counter).checked = true;
    }else{
    counter++;
    document.getElementById('radio'+ counter).checked = true;
    }
    console.log('left '+counter);
    });
    document.addEventListener('swiped-right', function(e) {
    // the element that was swiped
    if(counter<=1){
    counter=1;
    document.getElementById('radio'+ counter).checked = true;
    }else{
    counter--;
    document.getElementById('radio'+ counter).checked = true;
    };
    console.log("right " + counter);
    });
    }
    function notify(){
    iziToast.info({
    title: 'Download Started',
    message: 'The brochure download has started.',
    });
    };
    document.querySelector('.select-field').addEventListener('click',()=>{
    document.querySelector('.list').classList.toggle('show');
    if(document.querySelector('.list').classList.contains('show')){
    document.getElementById("arrow").innerHTML="&#xf0d8";
    document.getElementById('submit').style.display='none';
    document.getElementbyId('container')onclick=function(){
        document.querySelector('.list').classList.toggle('show');
    }
    }else{
        document.getElementById("arrow").innerHTML="&#xf0d7";
        document.getElementById('submit').style.display='flex';
    }

    });
    </script>
</body>
</html>