<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conscientia</title>
    <link rel="stylesheet" href='{% static "/css/index.css"%}'>
    <link href="{% static '/img/favicon.png'%}" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Lato&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9dde0b24ee.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="verificationcontainer">
      <div class="overlay">
        <h1 class="verifyh1">Hello, {{user_name}}. Thank you for registering !</h1>
      <h2 class="verifyh2">We have sent you a verification email. Kindly check your email and verify your account to continue.</h2>
      <a href="/">Click here to go back !</a>
      </div>
    </div>
  </body>
</html>